<%- include("navbar.ejs")%>

<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1> <%=banner_info.banner_title%> </h1>
                    <p class="mb-4"><%=banner_info.banner_details%></p>
                    <p>
                        <a href="<%=banner_info.banner_link%>" target="_blank" class="btn btn-secondary me-2">Shop Now</a>
                        <a href="/shop" class="btn btn-white-outline">Explore</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="/uploads/<%=banner_info.banner_img%>" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<!-- Start Product Section -->
<div class="product-section">
<div class="container">
    <div class="row">

        <!-- Start Column 1 -->
        <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
            <h2 class="mb-4 section-title">Crafted with excellent material.</h2>
            <p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. </p>
            <p><a href="/shop" class="btn">Explore</a></p>
        </div> 
        <!-- End Column 1 -->

        <!-- Start Column 2 -->
        <% for(var i=0;i<product_data.length;i++) { %>
        <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
            <a class="product-item" href="/shop">
                <img src="/uploads/<%=product_data[i].product_image.split(',')[0]%>" class="img-fluid product-thumbnail">
                <h3 class="product-title"><%=product_data[i].product_name%></h3>
                <strong class="product-price">&#8377; <%=product_data[i].product_price%></strong>

                <span class="icon-cross">
                    <img src="images/cross.svg" class="img-fluid">
                </span>
            </a>
        </div> 
        <% } %>

        <!-- End Column 2 -->

        <!-- Start Column 3 -->
        <!-- <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
            <a class="product-item" href="cart.html">
                <img src="images/product-2.png" class="img-fluid product-thumbnail">
                <h3 class="product-title">Kruzo Aero Chair</h3>
                <strong class="product-price">$78.00</strong>

                <span class="icon-cross">
                    <img src="images/cross.svg" class="img-fluid">
                </span>
            </a>
        </div> -->
        <!-- End Column 3 -->

        <!-- Start Column 4 -->
        <!-- <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
            <a class="product-item" href="cart.html">
                <img src="images/product-3.png" class="img-fluid product-thumbnail">
                <h3 class="product-title">Ergonomic Chair</h3>
                <strong class="product-price">$43.00</strong>

                <span class="icon-cross">
                    <img src="images/cross.svg" class="img-fluid">
                </span>
            </a>
        </div> -->
        <!-- End Column 4 -->

    </div>
</div>
</div>
<!-- End Product Section -->

<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
<div class="container">
    <div class="row justify-content-between">
        <div class="col-lg-6">
            <h2 class="section-title"><%=way_choose_us_heading_data.way_choose_us_heading_title%></h2>
            <p>
                <%=way_choose_us_heading_data.way_choose_us_heading_details%>
            </p>

            <div class="row my-5">
                <% for(var i=0;i<why_choose_us_data.length;i++) { %>
                <div class="col-6 col-md-6">
                    <div class="feature">
                        <div class="icon">
                            <img src="images/truck.svg" alt="Image" class="imf-fluid">
                        </div>
                        <h3><%=why_choose_us_data[i].way_choose_us_title%></h3>
                        <p><%=why_choose_us_data[i].way_choose_us_details%></p>
                    </div>
                </div>
                <% } %>

            </div>
        </div>

        <div class="col-lg-5">
            <div class="img-wrap">
                <img src="images/why-choose-us-img.jpg" alt="Image" class="img-fluid">
            </div>
        </div>

    </div>
</div>
</div>
<!-- End Why Choose Us Section -->

<!-- Start We Help Section -->
<div class="we-help-section">
<div class="container">
    <div class="row justify-content-between">
        <div class="col-lg-7 mb-5 mb-lg-0">
            <div class="imgs-grid">
                <div class="grid grid-1"><img src="/uploads/<%=modern_lnterior_design_data.modern_img1%>" alt="Untree.co"></div>
                <div class="grid grid-2"><img src="/uploads/<%=modern_lnterior_design_data.modern_img2%>" alt="Untree.co"></div>
                <div class="grid grid-3"><img src="/uploads/<%=modern_lnterior_design_data.modern_img3%>" alt="Untree.co"></div>
            </div>
        </div>
        <div class="col-lg-5 ps-lg-5">
            <h2 class="section-title mb-4"><%=modern_lnterior_design_data.modern_heading%></h2>
            <p>
                <%=modern_lnterior_design_data.modern_details%>
            </p>

            <ul class="list-unstyled custom-list my-4">
                <% for(var i=0;i<why_choose_us_data.length;i++) { %>
                    <li>
                        <%=why_choose_us_data[i].way_choose_us_details%>
                    </li>
                    <!-- <li>Donec vitae odio quis nisl dapibus malesuada</li>
                    <li>Donec vitae odio quis nisl dapibus malesuada</li>
                    <li>Donec vitae odio quis nisl dapibus malesuada</li> -->
                <% } %>
            </ul>
            <p><a herf="#" class="btn">Explore</a></p>
        </div>
    </div>
</div>
</div>
<!-- End We Help Section -->

<!-- Start Popular Product -->
<div class="popular-product">
<div class="container">
    <div class="row">

        <% for(var i=0;i<product_data.length;i++) { %>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src="/uploads/<%=product_data[i].product_image.split(',')[0]%>" alt="Image" class="img-fluid">
                    </div>
                    <div class="pt-3">
                        <h3><%=product_data[i].product_name%></h3>
                        <p><%=product_data[i].product_details%></p>
                        <p><a href="#">Read More</a></p>
                    </div>
                </div>
            </div>
        <% } %>
        <!-- <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="product-item-sm d-flex">
                <div class="thumbnail">
                    <img src="images/product-2.png" alt="Image" class="img-fluid">
                </div>
                <div class="pt-3">
                    <h3>Kruzo Aero Chair</h3>
                    <p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
                    <p><a href="#">Read More</a></p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="product-item-sm d-flex">
                <div class="thumbnail">
                    <img src="images/product-3.png" alt="Image" class="img-fluid">
                </div>
                <div class="pt-3">
                    <h3>Ergonomic Chair</h3>
                    <p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio </p>
                    <p><a href="#">Read More</a></p>
                </div>
            </div>
        </div> -->

    </div>
</div>
</div>
<!-- End Popular Product -->

<!-- Start Testimonial Slider -->
<div class="testimonial-section">
<div class="container">
    <div class="row">
        <div class="col-lg-7 mx-auto text-center">
            <h2 class="section-title">Testimonials</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="testimonial-slider-wrap text-center">

                <div id="testimonial-nav">
                    <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                    <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                </div>

                <div class="testimonial-slider">
                    
                    <% for(var i=0;i<testimonialsdata.length;i++) { %>
                    <div class="item">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 mx-auto">

                                <div class="testimonial-block text-center">
                                    <blockquote class="mb-5">
                                        <p>&ldquo; <%=testimonialsdata[i].testimonials_details%> &rdquo;</p>
                                    </blockquote>

                                    <div class="author-info">
                                        <div class="author-pic">
                                            <img src="/uploads/<%=testimonialsdata[i].testimonials_img%>" alt="Maria Jones" class="img-fluid">
                                        </div>
                                        <h3 class="font-weight-bold"><%=testimonialsdata[i].testimonials_name%></h3>
                                        <span class="position d-block mb-3"><%=testimonialsdata[i].testimonials_position%></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <% } %>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
<!-- End Testimonial Slider -->

<!-- Start Blog Section -->
<div class="blog-section">
<div class="container">
    <div class="row mb-5">
        <div class="col-md-6">
            <h2 class="section-title">Recent Blog</h2>
        </div>
        <div class="col-md-6 text-start text-md-end">
            <a href="#" class="more">View All Posts</a>
        </div>
    </div>

    <div class="row">

        <% for(var i=0;i<blogdata.length;i++) { %>
        <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
            <div class="post-entry">
                <a href="#" class="post-thumbnail"><img src="/uploads/<%=blogdata[i].blog_img%>" alt="Image" class="img-fluid"></a>
                <div class="post-content-entry">
                    <h3><a href="#"><%=blogdata[i].blog_details%></a></h3>
                    <div class="meta">
                        <span>by <a href="#"><%=blogdata[i].blog_name%></a></span> 
                        <span>on <a href="#"><%=blogdata[i].blog_date%></a></span>
                    </div>
                </div>
            </div>
        </div>
        <% } %>

    </div>
</div>
</div>
<!-- End Blog Section -->	



<%- include("footer.ejs")%>